{% extends 'layout.html' %} {% block content %}
<div class="container">
  <div class="row"></div>
  <h1><strong>About Us</strong></h1>
  <p>
    At One Click, we're passionate about helping creators, marketers, and
    businesses edit videos smarter, faster, and with less hassle. We believe
    that powerful video editing shouldn’t be reserved for professionals with
    expensive tools or hours to spare.
  </p>
  <p>
    Our mission is simple:
    <strong><i>make video editing efficient and accessible.</i></strong>
  </p>
  <p>
    Whether you're trimming clips for social media, creating content for
    YouTube, or producing professional-grade projects, we provide streamlined
    tools, tips, and workflows that save you time and elevate your results.
  </p>
  <p>
    Born from a team of editors, designers, and tech enthusiasts, we've combined
    industry insights with cutting-edge technology to bring you intuitive
    solutions that work—so you can spend more time creating and less time
    editing.
  </p>
  <p>Welcome to the future of faster video editing.</p>
  {% endblock %}
</div>
