{% extends 'layout.html' %} {% block content %}
<div class="container">
  <div class="row"></div>
  <h1><strong>What We Do</strong></h1>
  <p>
    We help you edit videos faster and smarter. Whether you're a beginner or a
    pro, our goal is to simplify the video editing process so you can create
    high-quality content without wasting time.
  </p>
  <p>
    Our Focus:
    <li>Time-saving editing tips and shortcuts</li>
    <li>Easy-to-use tools and software recommendations</li>
    <li>Step-by-step tutorials for faster workflows</li>
    <li>Resources for all skill levels</li>
  </p>

  <p>
    With the right tools and guidance, editing doesn't have to be complicated.
    We're here to help you streamline your editing process and get your videos
    done quickly—without sacrificing quality.
  </p>
  {% endblock %}
</div>
