{% extends 'layout.html' %} {% block content %}
<div class="container">
  <div class="row"></div>
  <h1><strong>Welcome to the Beginner Course!</strong></h1>
  <p>
    Here you will find tailored lesson plans and videos for your skill set.Here
    you will find tailored lesson plans and videos for your skill set.Here you
    will find tailored lesson plans and videos for your skill set.Here you will
    find tailored lesson plans and videos for your skill set.Here you will find
    tailored lesson plans and videos for your skill set.Here you will find
    tailored lesson plans and videos for your skill set.Here you will find
    tailored lesson plans and videos for your skill set.Here you will find
    tailored lesson plans and videos for your skill set.Here you will find
    tailored lesson plans and videos for your skill set.Here you will find
    tailored lesson plans and videos for your skill set.Here you will find
    tailored lesson plans and videos for your skill set.Here you will find
    tailored lesson plans and videos for your skill set.Here you will find
    tailored lesson plans and videos for your skill set.
  </p>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/Jz69JxNznWA?si=wqK3Nnv4o6RbVw44"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
  <div class="container">
    <div class="row"></div>
    <p>
      Here you will find tailored lesson plans and videos for your skill
      set.Here you will find tailored lesson plans and videos for your skill
      set.Here you will find tailored lesson plans and videos for your skill
      set.Here you will find tailored lesson plans and videos for your skill
      set.Here you will find tailored lesson plans and videos for your skill
      set.Here you will find tailored lesson plans and videos for your skill
      set.Here you will find tailored lesson plans and videos for your skill
      set.Here you will find tailored lesson plans and videos for your skill
      set.Here you will find tailored lesson plans and videos for your skill
      set.Here you will find tailored lesson plans and videos for your skill
      set.Here you will find tailored lesson plans and videos for your skill
      set.Here you will find tailored lesson plans and videos for your skill
      set.Here you will find tailored lesson plans and videos for your skill
      set.
    </p>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/Jz69JxNznWA?si=wqK3Nnv4o6RbVw44"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
    <div class="container">
      <div class="row"></div>
      <p>
        Here you will find tailored lesson plans and videos for your skill
        set.Here you will find tailored lesson plans and videos for your skill
        set.Here you will find tailored lesson plans and videos for your skill
        set.Here you will find tailored lesson plans and videos for your skill
        set.Here you will find tailored lesson plans and videos for your skill
        set.Here you will find tailored lesson plans and videos for your skill
        set.Here you will find tailored lesson plans and videos for your skill
        set.Here you will find tailored lesson plans and videos for your skill
        set.Here you will find tailored lesson plans and videos for your skill
        set.Here you will find tailored lesson plans and videos for your skill
        set.Here you will find tailored lesson plans and videos for your skill
        set.Here you will find tailored lesson plans and videos for your skill
        set.Here you will find tailored lesson plans and videos for your skill
        set.
      </p>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/Jz69JxNznWA?si=wqK3Nnv4o6RbVw44"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <div class="container">
        <div class="row"></div>
        <p>
          Here you will find tailored lesson plans and videos for your skill
          set.Here you will find tailored lesson plans and videos for your skill
          set.Here you will find tailored lesson plans and videos for your skill
          set.Here you will find tailored lesson plans and videos for your skill
          set.Here you will find tailored lesson plans and videos for your skill
          set.Here you will find tailored lesson plans and videos for your skill
          set.Here you will find tailored lesson plans and videos for your skill
          set.Here you will find tailored lesson plans and videos for your skill
          set.Here you will find tailored lesson plans and videos for your skill
          set.Here you will find tailored lesson plans and videos for your skill
          set.Here you will find tailored lesson plans and videos for your skill
          set.Here you will find tailored lesson plans and videos for your skill
          set.Here you will find tailored lesson plans and videos for your skill
          set.
        </p>
        {% endblock %}
      </div>
    </div>
  </div>
</div>
