{% extends 'layout.html' %} {% block content %}
<div class="container">
  <div class="row">
    <h1>Contact Us</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-4 col-sm-12">
      <ol>
        <li>- Phone: 02 9508 5620</li>
        <li>- Email: Special.Xylophone@gmail.com</li>
        <li>- Address: 119 Unwins Bridge Road</li>
      </ol>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-12">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3310.811021831039!2d151.15827887644213!3d-33.920263021727344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12b08afb16153d%3A0xbd21d225e980c8aa!2sTempe%20High%20School!5e0!3m2!1sen!2sau!4v1748828822682!5m2!1sen!2sau"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe
      >"
    </div>
  </div>
  {% endblock %}
</div>
