<html>
  <head>
    <title>My Website.com</title>
    <style>
      h2{
        font-size:20px;
        color:chocolate;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-style:solid;
        border-color:black
      }
      body{
        background-color:wheat
      }
    </style>
  </head>
  <body>
    <h1>
      <button>
        <strong><h1>Trumpets Are Cool</h1></strong>
      </button>
    </h1>
    <img src="https://www.bettermusic.com.au/media/catalog/product/y/t/ytr-2330_f_0001_f_2.jpg?optimize=high&fit=bounds&height=&width="</img>
    <hr>
    <h2>Here is why trumpets are cool</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sapien sapien, luctus vel consequat nec, accumsan vitae nulla. Maecenas quis efficitur tortor. Nulla semper, nisi vitae tincidunt tempor, turpis tellus sagittis enim, pharetra aliquet ante metus vitae leo. Nunc id augue sit amet libero aliquam imperdiet. Nam malesuada arcu eu massa vulputate gravida. Duis venenatis malesuada leo a convallis. Fusce aliquam lobortis leo, non bibendum mi dapibus quis. Fusce facilisis urna sapien, sit amet ultricies justo volutpat eu. Etiam placerat elementum purus. Nunc vel diam pulvinar, aliquam magna imperdiet, consectetur nibh.

Vestibulum tincidunt ex ex, vel ullamcorper nibh sodales dapibus. Pellentesque faucibus quam justo, et euismod dui convallis vulputate. Vestibulum ullamcorper ut ligula quis pharetra. Morbi vel nunc consectetur, tincidunt magna ac, porttitor lorem. Integer id lacinia tortor, at luctus tellus. Quisque porta est sed lorem convallis, ultricies pretium ipsum tincidunt. Nullam quis hendrerit nisl. Integer non massa vel tellus molestie vulputate ut sed lacus. Ut tincidunt arcu nec rhoncus aliquet.

Fusce ut luctus mauris, id maximus odio. Nam sem nibh, tristique non rutrum pharetra, molestie a ligula. Suspendisse potenti. Phasellus feugiat tempor nunc sit amet pellentesque. Sed euismod sapien et massa iaculis cursus. Suspendisse non mi tincidunt, commodo risus ut, suscipit ligula. Quisque tristique, dui sit amet mollis lacinia, augue mauris hendrerit risus, sit amet condimentum mi purus id magna. Aliquam erat volutpat. Curabitur massa sapien, cursus in eros quis, finibus scelerisque magna. Donec a lectus vel nisl accumsan ultrices. In viverra imperdiet orci. Nunc id mauris vel enim imperdiet suscipit eu non purus.

Donec ullamcorper ultricies dapibus. Curabitur sit amet velit eu ipsum blandit venenatis. Sed at elit at purus blandit semper. Praesent mattis risus iaculis faucibus consequat. Proin non odio consectetur, pulvinar turpis non, interdum odio. Nullam mattis commodo metus. Cras scelerisque mi mauris, dictum mattis sem rutrum a. Curabitur condimentum auctor turpis a auctor. Aenean aliquet imperdiet magna in consequat. Nam viverra sed justo at tincidunt. In maximus orci ornare ante laoreet aliquet. Vivamus feugiat, erat vel tempor lacinia, felis velit pretium justo, quis fermentum ipsum ipsum eu ex. Donec in placerat arcu, quis bibendum ante. Aliquam erat volutpat. Donec vulputate nunc interdum venenatis interdum. Mauris cursus velit aliquet urna consequat ultricies.

Duis dictum placerat lacus sed consequat. Suspendisse eu cursus odio, quis aliquet dolor. Nam non libero eu massa ultricies rutrum. Mauris ac massa id nulla dictum egestas nec eget neque. Cras in aliquam urna, sed vehicula arcu. Maecenas mattis venenatis orci a hendrerit. Nunc maximus venenatis justo, elementum euismod nunc cursus nec. Vivamus elit quam, placerat non enim egestas, venenatis suscipit purus. Quisque a lacus vel velit mattis egestas.</p>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/v9g3RrUF-QY?si=8MeYEAWQK0vKfECR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<table border="4">
      <tr>
        <th>Instrument</th>
        <th>Level of Greatness</th>
        <th>How Easy is it to learn?</th>
        <th>How Does it Sound?</th>
      </tr>
      <tr>
        <td>Trumpet</td>
        <td>The Best</td>
        <td>Easy</td>
        <td>Pleasant</td>
      </tr>
      <tr>
        <td>Saxaphone</td>
        <td>Terrible</td>
        <td>Hard</td>
        <td>Nice</td>
      </tr>
      <tr>
        <td>Piano</td>
        <td>Okay</td>
        <td>Insane</td>
        <td>Elegant</td>
      </tr>
      <tr>
        <td>Flute</td>
        <td>Terrible</td>
        <td>Medium</td>
        <td>Bad</td>
      </tr>
      <tr>
        <td>Clarinet</td>
        <td>The Worst</td>
        <td>Easy</td>
        <td>Terrible</td>
      </tr>
      <tr>
        <td>Guitar</td>
        <td>The Best</td>
        <td>Hard</td>
        <td>Pleasant</td>
      </tr>
    </table>
    <br>
  </body>
</html>
